@import "../../index.scss";

.hide-modal {
  @keyframes hideModal {
    0% {
      opacity: 1;
      z-index: 100;
      transform: translateX(0%);
      display: block;
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
      display: none;
    }
  }

  animation: hideModal 0.5s forwards;
}

.show-modal {
  @keyframes showModal {
    0% {
      opacity: 0;
      transform: translateX(100%);
      display: none;
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
      display: block;
    }
  }

  animation: showModal 0.5s forwards;
}

.modal {
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  left: 0%;
  top: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .modal__body {
    top: -10%;
    background-color: white;
    position: relative;
    padding: 1rem;
    border-radius: 1rem;
    width: 70vw;
    z-index: 200;

    .modal__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;

      h2 {
        margin: 0;
        font-size: 1.2rem;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        width: 2rem;
        color: $text-secondary;
      }
    }
  }
}
