@import "../../index.scss";

footer {
  z-index: 400;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: $background-secondary;
  height: 4.75rem;
  transform: translateX(-2.15%);
  box-shadow: 0 0 0.75rem black;
  background-color: #031926;

  .navbar-content {
    width: 100%;
    height: 100%;
    margin-bottom: 5rem;

    .navbar-buttons {
      margin: 0;
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      padding: 0;

      li {
        width: 50%;
        margin: 0;

        .navbar-button {
          width: 100%;
          height: 100%;
          color: white;
          background-color: #031926;
          padding: 0.25rem;
          border: none;
          display: inline;
          align-items: center;

          i {
            margin: 0;
            font-size: 1.2rem;
          }
          p {
            margin: 0;
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}
