@import "../../index.scss";

.modal {
  .modal__body {
    .modal__header {
      h2 {
        font-size: 1.35rem;
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .store {
    margin: 0;

    h3 {
      margin: 0;
      margin-bottom: 0.5rem;
    }

    .store-items {
      p {
        margin: 0;
      }
    }
  }
}
