@import "../../index.scss";

.modal {
  .modal__body {
    .modal__header {
      h2 {
        font-size: 1.35rem;
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .store {
    margin: 0;

    h3 {
      margin: 0;
      margin-bottom: 0.25rem;
    }

    .store-items {
      .store-item {
        p {
          margin: 0;
          font-weight: 600;
          color: $text-secondary;
        }
      }
    }
  }

  .footer {
    justify-content: end;
    display: flex;
    flex-direction: row;
  }
}
