@import "../../index.scss";

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  .form-group {
    width: 100%;

    h3 {
      margin: 0;
      margin-bottom: 0.25rem;
      font-size: 0.8rem;
      color: $text-secondary;
    }

    input {
      width: 95%;
      background-color: $background-secondary;
      border: none;
      padding: 0.3rem;
      border-radius: 0.5rem;
    }
  }

  .form-group-big {
    display: flex;
    gap: 1rem;

    .amount {
      width: 3rem;
    }
  }

  .footer {
    display: flex;
    margin-top: 1rem;
    justify-content: right;
    gap: 0.25rem;

    button {
      background-color: green;
      color: white;
      border-radius: 0.5rem;
    }
  }
}
