@import "../../index.scss";

.clear-button {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.stores {
  .store {
    margin-bottom: 0.5rem;
    .store-name {
      margin: 0;
    }

    .store-items {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}

.confirmation {
  font-size: 0.8rem;

  .confirmation-warning {
    font-size: 0.8rem;
    color: red;
  }
}

.footer {
  display: flex;
  flex-direction: column;

  .checkout-button {
    color: white;
    padding: 0.25rem;
    border-radius: 1rem;
    border: none;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    background-color: skyblue;
    box-shadow: 0 0 0.25rem skyblue;
  }
}
