@import "../../index.scss";

header {
  padding: 0.5rem;
  padding-bottom: 0.25rem;

  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      gap: 0.5rem;

      li {
        button {
          color: white;
          padding: 0.25rem;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          border-radius: 1rem;
          border: none;
          font-size: 0.8rem;
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }

        .add {
          background-color: green;
          box-shadow: 0 0 0.25rem green;
        }

        .checkout-button {
          background-color: skyblue;
          box-shadow: 0 0 0.25rem skyblue;
        }
      }
    }
  }
}
