@import "../../index.scss";

main {
  overflow-x: hidden;

  header {
    .nav-title {
      padding-left: 0.51rem;
      font-size: 1.8rem;
      margin: 0;
      margin-top: 0.5rem;
      margin-bottom: 0.25rem;
    }

    .button-group {
      margin: 0.5rem 0;
      display: flex;
      justify-content: space-evenly;

      button {
        width: 48%;
        color: white;
        padding: 0.25rem;
        border-radius: 1rem;
        border: none;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.35rem;
      }

      .add-button {
        background-color: green;
        box-shadow: 0 0 0.25rem green;
      }

      .checkout-button {
        background-color: skyblue;
        box-shadow: 0 0 0.25rem skyblue;
      }
    }
  }

  .no-items {
    text-align: center;
    font-size: 1.25rem;
    color: $text-secondary;
  }

  section {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    transition: all 1s;

    .header {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      margin-bottom: 0.25rem;

      h1 {
        margin: 0;
        font-size: 1.3rem;
        font-weight: 600;
      }

      button {
        background-color: $background-secondary;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 1rem;
        padding: 0.3rem;
        height: 1.5rem;
      }
    }

    .store-item-count {
      color: $text-secondary;
      margin-bottom: 0.25rem;
      display: flex;
      gap: 0.75rem;

      .completed-progress {
        color: $text-secondary;
        font-weight: 500;
      }
    }

    .hide-section {
      @keyframes hideSection {
        0% {
          opacity: 1;
          z-index: 100;
          transform: translateX(0%);
        }
        100% {
          opacity: 0;
          transform: translateX(200%);
          z-index: -100;
          position: absolute;
        }
      }

      animation: hideSection 1.5s forwards;
    }

    .show-section {
      @keyframes showSection {
        0% {
          position: absolute;
          opacity: 0;
          z-index: -100;
          transform: translateX(200%);
        }
        100% {
          opacity: 1;
          z-index: 100;
          transform: translateX(0%);
        }
      }

      animation: showSection 0.5s forwards;
    }

    .shopping-items {
      display: grid;
      row-gap: 0.5rem;
      transition: all 0.5s;

      .shopping-item {
        display: flex;
        padding: 0.5rem;
        border: $background-secondary 0.1rem solid;
        border-radius: 1rem;
        transition: all 0.5s;
        width: 85vw;
        box-shadow: 0 0 0.3rem $background-secondary;

        .complete {
          display: flex;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 1rem;
          background-color: transparent;
          border: $background-secondary 0.1rem solid;
          margin-right: 1rem;
          transition: all 0.5s;
          justify-content: center;
        }

        h2 {
          margin: 0;
          font-size: 1rem;
          font-weight: 500;
          margin-right: 0.75rem;
        }

        .details {
          display: flex;
          z-index: -10;
          p {
            display: grid;
            align-items: center;
            margin: 0;
            margin-right: 0.25rem;
            font-size: 0.8rem;
            color: $text-secondary;
          }
        }

        .menu {
          transition: all 0.25s;
          background: linear-gradient(to right, green 50%, red 50%);
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 35vw;
          display: flex;
          justify-content: space-around;
          align-items: center;

          border-top-right-radius: 1rem;
          border-bottom-right-radius: 1rem;

          button {
            background-color: transparent;
            border: none;
            font-size: 1rem;
            color: white;
          }

          &.hide {
            @keyframes hide {
              0% {
                opacity: 1;
                transform: translateX(0%);
              }
              100% {
                opacity: 0;
                transform: translateX(100%);
                display: none;
              }
            }

            animation: hide 0.5s forwards;
          }

          &.show {
            @keyframes show {
              0% {
                opacity: 0;
                transform: translateX(100%);
              }
              100% {
                opacity: 1;
                display: flex;
                transform: translateX(0%);
              }
            }

            animation: show 0.5s forwards;
          }
        }

        &.shift-left {
          transform: translateX(-3rem);
          width: 100vw;
        }
      }

      .completed-item {
        background-color: $background-secondary;

        .complete {
          background-color: green;
          color: white;
        }

        .details {
          p {
            color: black;
          }
        }
      }
    }

    .hide-completed {
      @keyframes hide {
        0% {
          opacity: 1;
          z-index: 100;
          transform: translateX(0%);
        }
        100% {
          opacity: 0;
          transform: translateX(200%);
          z-index: -100;
          position: absolute;
        }
      }

      animation: hide 1.5s forwards;
    }

    .show-completed {
      @keyframes show {
        0% {
          opacity: 0;
          z-index: -100;
          transform: translateX(200%);
        }
        100% {
          opacity: 1;
          display: flex;
          z-index: 100;
          transform: translateX(0%);
        }
      }

      animation: show 1s forwards;
    }

    .completed {
      .hide-section {
        animation: hideSection 1.5s forwards;
      }

      .show-section {
        animation: showSection 0.5s forwards;
      }
      .completed-title {
        margin: 0;
        margin-top: 0.5rem;
        margin-bottom: 0.75rem;
        display: flex;
        flex-direction: row;
        font-size: 0.75rem;
        color: $text-secondary;
        letter-spacing: 0.1rem;

        &:before,
        &:after {
          content: "";
          flex: 1 1;
          border-bottom: 0.05rem solid $text-secondary;
          margin: auto;
        }
      }
    }
  }

  .spacer {
    margin-bottom: 5rem;
  }
}
