@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

$text-secondary: #a3a3a3;
$background-secondary: #e4e4e4;
