@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  font-family: "Nunito", sans-serif;
  font-size: 3vh;
}

body {
  overflow-x: hidden;
}

$accent: #0070bb;
$text-secondary: #8d8d8d;
$background-secondary: #e4e4e4;
